.App {
  font-family: monospace;
  text-align: center;
  text-rendering: geometricPrecision;
}

textarea {
  border: 3px solid black;
  border-radius: 3px;
  font-size: 1.5rem;
  margin: 2rem;
  min-height: 200px;
  width: 100%;
}

button {
  border: 3px solid black;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

button:hover {
  background: lightgray;
}

button span {
  font-size: 1.5rem;
}

.classified {
  background: lightgray;
  color: black;
  font-size: 1.1rem;
  line-height: 1.8;
  margin: 2rem;
  padding: 2rem;
}

.classified::before,
.classified::after {
  content: '"';
}

.tags {
  list-style: none;
  margin: 1rem;
  min-height: 100px;
  padding: 0;
}

.tag {
  background: lightblue;
  color: black;
  display: inline-block;
  font-size: 1rem;
  margin: 10px;
  padding: 1rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 300px;
  margin-top: 200px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid grey;
  border-color: grey transparent grey transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
